<html>
  <head>
    <title>JC - Contact</title>
  </head>
  <body>
    <div>
      <form action="/thanks" method="POST">
        <label for="firstName">First Name:</label>
        <input id="firstName" name="firstName" type="text">

        <label for="lastName">Last Name:</label>
        <input id="lastName" name="lastName" type="text">

        <label for="email">Email:</label>
        <input id="email" name="email" type="text">

        <label for="message">Message:</label>
        <textarea id="message" name="message" type="text"></textarea>

        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>